body {
  font-family: Inter, sans-serif;
  /* font-size: 18px; */
}
body::-webkit-scrollbar {
  display: none;
}
.menuBar .MuiMenu-paper {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1),
    0px 8px 10px 1px rgba(0, 0, 0, 0.01), 0px 0px 0px 0px rgba(0, 0, 0, 0.01);
  background-color: #ffffff;
}
.body_Description3 .MuiGrid-container {
  display: flex;
  justify-content: center;
}
.MuiGrid-itemDesc{
  display: flex;
  align-items: center;
}
.MuiGrid-itemDesc2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
/* Nav Bar */

/* @media screen and (min-width:768px) and (max-width:1024px){ */

.navBar {
  box-shadow: 0px 2px 4px -25px rgba(0, 0, 0, 0.2),
    0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  width: 1440px;
}
.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
}
.sudoboat {
  width: 73px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  color: #000000;
}
.linkText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 32px;
  color: #636779;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
}
.linkText:hover {
  color: #000000;
  border-bottom: 3px solid#000000;
}
.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  margin-left: 5%;
  gap: 15px;
}
.linkContainer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 20px;
  /* gap: 20px; */
  align-items: center;
}
.demoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #0072e5;
  /* color: #FFFFFF; */
}
.menuItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.menuItemTitle {
  font-size: 14px;
}
.menuItemDescription {
  color: #636779;
  font-size: 12px;
}
.menuItemTxtContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.menuItemTxtContainer:hover .menuItemTitle {
  color: #1a54f2;
}

/* Nav Bar */
