.bodyConatiner {
  width: 1440px;
  font-family: Inter;
}
.description1 {
  width: 100%;
  margin: 12px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Inter;
}
.description1_container1 {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 20px;
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
  font-family: Inter;
}
.description1_header {
  font-size: 36px;
  color: #ff85c0;
  font-weight: bold;
  font-family: Inter;
}
.description1_subHeader {
  font-size: 24px;
  max-width: 600px;
  margin-top: 16px;
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}
.description1_description {
  display: grid;
  font-size: 16px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(99, 103, 121);
  font-family: Inter;
}
.description1_container2 {
  flex-grow: 0;
  font-family: Inter;
}
.description1_Image {
  width: 100%;
}
.description1_image {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.description2 {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  /* max-width: 1240px; */
  /* display: flex; */
}
.description2_imageContainer {
  /* margin-bottom: 64px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.description2_images {
  width: 60%;
  /* height: 20px; */
  display: flex;
  justify-content: center;
}
.description3 {
  width: 100%;
  margin: 12px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
}
/* .description3 */
.description3_Section1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  font-family: Inter, sans-serif;

  max-width: 498px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.description3_Section1.Muigrid-root .MuiGrid-item {
  display: flex;
  align-items: center;
}
.insideDiv{
  display: flex;
}
.cardContainer {
  position: relative;
  left: 112px;
  justify-content: center;
  width: calc(100% - 224px);
  background: rgb(237, 250, 250);
  border-radius: 16px;
  height: 332px;
  margin-top: 60px;
  margin-bottom: calc(252px);
  font-family: Inter, sans-serif;
}
.cordContainerDottedStyle {
  --dot-color: #bce6e6;
  background-image: radial-gradient(
    var(--dot-color) 2.38px,
    transparent 2.39px
  );
  background-size: 14.35px 14.39px;
  background-position: -4.78px -4.79px;
  position: absolute;
  height: 166px;
  width: 181px;
  top: 25px;
  left: 29px;
  font-family: Inter, sans-serif;
}
.card {
  display: flex;
  /* -webkit-box-pack: justify; */
  justify-content: right;
  /* position: absolute; */
  /* width: calc(100% - 160px); */
  top: 64px;
  left: 68px;
  width: 40%;
  font-family: Inter, sans-serif;
}
.particularCard {
  max-width: 450px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(180, 217, 217) 0px 7px 18px -5px;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 28px;
  position: relative;
  top: 60px;
  right: 100px;
  font-family: Inter, sans-serif;
}
.imgContainer {
  height: calc(76px);
  font-family: Inter, sans-serif;
}
.separator {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.cardDescription {
  padding-bottom: calc(50px);
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
.cardFooter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Inter, sans-serif;
}
.description3_descriptions {
  width: 675px;
  font-size: 16px;
  color: #51595D;
}
.cardFooterDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgb(99, 103, 121);
}
